<h1>Articles#index</h1>

<% @articles.each do |article| %>
  <div>
    <%= article.title %>
    <%= form_with url: select_article_path, method: :post do |f| %>
      <%= hidden_field_tag :article_id, article.id %>
      <%= f.submit 'Select' %>
    <% end %>
  </div>
<% end %>
