<h1>Rss</h1>

<%= link_to "登出", destroy_admin_session_path, data: { turbo_method: :delete } %>

<ul>
  <% @rss_feed_items.each do |channel| %>
      <h1><%= channel %></h1>
  <% end %>
  <% @rss_feed_items.each do |item| %>
      <h2><%= link_to item.title, item.link %></h2>
      <h3><%=  item.description %></h3>
  <% end %>
</ul>

